.top-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
}

.top-view h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.search-area {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.select-tags,
.select-status {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
}

.filter-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 1.2rem;
}
